@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Arial, sans-serif;

}
p,ul{
  font-family: 'Roboto', sans-serif;
}

/* .features-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
} */

/* Features Overview Section */
.features-overview-section {
  padding: 50px 20px;
}

/* Features Overview Header */
.features-overview-header {
  /* padding-left: 20px; */
  margin-bottom: 1.25rem; /* Equivalent to mb-5 */
}

.features-overview-header h2 {
  font-size: 2rem; /* Equivalent to text-3xl */
  line-height: 1.5; /* Equivalent to leading-normal */
  /* text-align: left; */
  text-align: center;
}

/* Features Overview Grid */
.features-overview-grid {
  padding-top: 1.5rem; /* Equivalent to pt-6 */
  padding-left: 1.25rem;
  padding-right: 1.25rem; /* Equivalent to px-5 */
  width: 100%; /* Equivalent to w-full */
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Equivalent to grid-cols-1 */
  gap: 1.25rem; /* Equivalent to gap-5 */
  text-align: center;
}

@media (min-width: 768px) {
  .features-overview-section {
    padding: 2.5rem 2.5rem; /* Equivalent to md:px-10 md:py-10 */
}
.features-overview-header h2 {
  text-align: center;
}
  .features-overview-grid {
      grid-template-columns: repeat(3, 1fr); /* Equivalent to md:grid-cols-3 */
  }
}

@media (min-width: 1024px) {
  .features-overview-header h2 {
    font-size: 3rem; /* Equivalent to lg:text-5xl */
    line-height: 1.5; /* Equivalent to lg:leading-normal */
}
  .features-overview-grid {
      grid-template-columns: repeat(4, 1fr); /* Equivalent to lg:grid-cols-4 */
  }
}
@media (min-width:2000px) {
  .features-overview-grid {
    grid-template-columns: repeat(6, 1fr); /* Equivalent to lg:grid-cols-4 */
}
}


.card-container {
  padding: 2rem; /* equivalent to p-8 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s; /* transition-transform duration-300 */
}

.card-container:hover {
  transform: translateY(-0.5rem); /* hover:-translate-y-2 */
  box-shadow: 0px 4px 20px #fd4539; /* hover:shadow-[0px_4px_20px_#fd4539] */
}

.card-image {
  height: 55px;
  align-items: center;
  margin: 0px auto;
}
.card-title {
  padding-top: 1.25rem; /* pt-5 */
  font-weight: bold; /* font-bold */
  font-size: 1.125rem; /* text-lg */
}
.card-text {
  padding-top: 1.25rem; /* py-5 */
  font-size: 0.875rem; /* text-sm */
  color: #6b7280; /* text-gray-500 */
}

/* ============== */
.features-section{
  margin: 64px 0px;
}
.features-list{
  width: 100%;
  padding:0px 40px;
}
.features-image{
  display: none;
}
.image-container {
position: sticky;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
}
.feature-item {
/* margin-bottom: 2rem; */
margin-bottom: 64px;
text-align: center;
align-content: center;
}

.feature-title{
font-size: 1.875rem; /* 30px */
line-height: 2.25rem; /* 36px */
font-weight: 700;
margin-bottom: 24px;
padding-bottom: 24px;
border-bottom-width: 2px;
text-align: center;
/* text-align: left; */
}

.feature-item ul{
padding-left: 10px;
/* padding-top: 1.25rem; */
 /* 20px */
}
.feature-item li {
font-size: 15px;
line-height: normal;
padding-top: 1.25rem; /* 20px */
text-align: left;
color: #666;
list-style-type: disc;

}
.feature-image-sm{
  margin-top: 32px;
  margin-bottom: 16px;
}

/* 
 @media (min-width:576px) {

} */
@media (min-width: 768px) { 
  .features-section{
      padding-left: 40px;
      padding-right: 40px;
  }
  .features-container{
      display: flex;
      position: relative;
  }
  .features-list{
      width: 41.666667%;
      height: min-content;
      padding-left: 2.5rem;/*40px*/
  }
  .feature-title {
      text-align: left;
      font-size: 45px;
      line-height: normal;
      border:none;
      /* font-size: 2.25rem;  */
      /* 36px */
      /* line-height: 2.5rem; */
       /* 40px */   
    }
    /* img for sm screen */
  .feature-image-sm{
      display: none;
    }
  .features-image{
    display: block;
    width: 58.333333%;
    height: 100vh;
    position:sticky;
    top: 0px;
    z-index: 10;
    align-content: center;
    text-align: center;
  }
  .image-container {
    position: sticky;
    z-index: 1;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature-item {
    height: 100vh;/* Makes each feature fill most of the viewport*/
    margin-bottom: 2rem;
    text-align: center;
    align-content: center;
    padding: 1rem;
  }
}

@media (min-width:992px) {
  .features-section{
      padding-left: 80px;
      padding-right: 80px;
  }
  .feature-item li {
      font-size: 1.25rem; /* 20px */
      line-height: 1.75rem; /* 28px */
   }
}

@media (min-width:1200px) {}




/* Allow scrolling within the section */
/* .scrollable-section {
  scrollbar-width: none; 
}    */

/* #customer-review{
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 20px;
  margin:0px 80px;
} */
 .reviews-container{
  padding: 40px;
 }
.reviews-container div{
  border-radius: 1rem; /* 16px */
  padding: 35px 0px;
  height: 290px;
  align-content: center;
  /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.reviews-container div:hover{
  /* transform: translateY(-20px); */
  transform: translateY(-0.5rem);
  /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
  box-shadow: 0px 4px 20px #fd4539;

}
.reviews-container h2{
  font-size: 90px;
  font-weight: 700;
  display: inline-block;
  line-height: 0.9;
}
.reviews-container span{
  font-size: 24px;
  font-weight: 500;
  margin:auto;
  color: #fd4539;
  vertical-align: top;
}
.reviews-container p{
  font-size: 20px;
  padding-top: 25px;
  color: #666;
}

/* carousel styles */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-track {
  display: flex;
  /* transition: transform 0.3s ease-in-out; */
  width: calc(100% * (number of items + 2)); /*Add 2 for clones*/
}
.carousel-item {
  min-width: 100%;
  /* box-sizing: border-box; */
  /* text-align: center; */
  padding: 30px;
  /* background-color: #ddd; */
  /* border-right: 1px solid red; */
  font-size: 1.5em;
  color: #333;
}
.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between dots */
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #ccc; /* Default color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.carousel-indicators button.active {
  background-color: #333; /* Active dot color */
}
.client-review-container{
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.client-logo{
  padding-bottom: 20px;
}
.client-logo img{
  height:50px;
  margin: 0px auto;
}
.client-review p{
  font-size: 24px; 
  text-align: center;
}
.client-name {
  padding-top: 20px;
  text-align: center;
}
.client-name p {
  font-size: 17px;
  font-weight: 700;
}
.client-rating-sm{
  display: none;
}
.client-rating{
  display: block;
  align-content: center;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.client-rating h2{
  font-size: 100px;
  font-weight: 700;
}
.client-rating p{
  font-size: 20px;
  padding-top: 15px;
  color: #666;
}
.counter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}


@media (max-width: 640px) {
  .reviews-container h2{
    font-size: 60px;
    line-height: normal;
  }
  .client-review-container{
    padding: 40px 40px 20px;
  }
  .client-review-container p{
    font-size: 15px;
  }
  .client-rating{
   display: none;
  }
  .client-rating-sm{
    display: block;
    align-content: center;
    text-align: center;
    padding: 20px 20px 0px;
  }
  .client-rating-sm h2{
    font-size: 50px;
    font-weight: 700;
  }
  .client-rating-sm span{
    width: 60%;
    display: block;
    margin: 10px auto;
    height: 1px;
    border: solid 1px gray;
  }
  .client-rating-sm p{
    padding-top: 15px;
    color: #666;
  }
  
}